/* CSS Document */
/* 
Theme Name: A&D Express
Theme URI: http://www.adexpress.com
Description: Tema personalizado para A&D Express
Version: 1.0
Author: Jose Avila
Author URI: http://jose-avila.hostei.com 
 */
/*////////////reset///////////////*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
body, div, a, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decortion: none !important;
}

a {
  text-decoration: none !important;
}

/* @mixin noisyGrey{
	background-url: http://api.thumbr.it/whitenoise-361x370.png?
	background=#ccccccff&noise=949494&density=45&opacity=22
} */
@font-face {
  font-family: 'BIG-JOHN';
  src: url("fonts/BIG-JOHN.eot");
  src: url("fonts/BIG-JOHN.eot?#iefix") format("embedded-opentype"), url("fonts/BIG-JOHN.ttf") format("truetype"), url("fonts/BIG-JOHN.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("fonts/Montserrat-Regular.eot");
  src: url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Slim-Joe';
  src: url("fonts/Slim-Joe.eot");
  src: url("fonts/Slim-Joe.eot?#iefix") format("embedded-opentype"), url("fonts/Slim-Joe.ttf") format("truetype"), url("fonts/Slim-Joe.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat-Regular", roboto, 18px;
}

.login {
  display: none;
  position: fixed;
  z-index: 50;
  background: rgba(105, 31, 87, 0.7);
  width: 100%;
  height: 100%;
}
.login .log-box {
  width: 50%;
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: 60;
  padding: 10px;
  background: url(images/bg_03.png) white;
  background-size: cover;
}
.login .log-box #wppb-login-wrap {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
}
.login .log-box #wppb-login-wrap .login-submit .button-primary {
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
}
.login .log-box #wppb-login-wrap .login-submit .button-primary:hover {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: white;
  cursor: pointer;
}
.login .log-box #wppb-login-wrap input {
  padding: 4px;
  transition: background 0.4s ease;
}
.login .log-box #wppb-login-wrap input:focus {
  background: #cccccc;
  color: #691f57;
}
.login .log-box p {
  padding: 8px;
  margin: 0 0 10px 0;
}
.login .log-box .reg-button {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

header {
  width: 100%;
  height: 80px;
  padding: 10px 0px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 7%, #ededed 91%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%, white), color-stop(91%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 7%, #ededed 91%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 7%, #ededed 91%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 7%, #ededed 91%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, white 7%, #ededed 91%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
header nav {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  overflow: auto;
}
header nav .burger {
  display: none;
  color: #330033;
  font-size: 30px;
  font-weight: bold;
  font-family: "FontAwesome", arial;
}
header nav .swipe-area {
  display: none;
}
header nav figure {
  margin: 0 50px 0 0;
  display: inline-block;
  vertical-align: middle;
}
header nav .nav-holder {
  width: 720px;
  display: inline-block;
  vertical-align: middle;
}
header nav .nav-holder .menu .current-menu-item {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  margin: -10px 0 0 0;
}
header nav .nav-holder .menu .current-menu-item a {
  color: #691f57;
}
header nav .nav-holder .menu li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
header nav .nav-holder .menu li a {
  color: #f79521;
  font: 18px #f7941e;
  font-family: "BIG-JOHN", Roboto;
  text-decoration: none;
}
header nav .nav-holder .menu li a:hover {
  color: #691f57;
}
header nav .social {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0px;
}
header nav .social li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}
header nav .social li a {
  float: left;
  margin: 0 5px;
  font-family: "FontAwesome", arial;
  font-size: 30px;
  color: #f7941e;
}
header nav .social li a:hover {
  color: #691f57;
}
header nav .nav-holder .social, header nav .nav-holder figure {
  display: none;
}

footer {
  width: 100%;
  background: #691f57;
}
footer #f-wrap {
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
  font-family: "Montserrat-Regular", roboto, 18px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
footer #f-wrap .f-block {
  width: 20%;
  vertical-align: top;
  color: white;
  display: inline-block;
  list-style: none;
  margin: 0 9px;
  text-align: left;
}
footer #f-wrap .f-block a {
  color: white;
}
footer #f-wrap .f-block a:hover {
  color: #f7941e;
}
footer #f-wrap .f-block h3 {
  color: #f7941e;
  font-size: 18px;
  text-align: left;
}
footer #f-wrap .social {
  font-family: "FontAwesome", arial;
  font-size: 40px;
  text-align: left;
}
footer #f-wrap .social li {
  display: inline-block;
  padding: 8px 4px;
}
footer .pie {
  width: 100%;
  position: relative;
  background: #cccccc;
  text-align: center;
  padding: 6px 0;
}
footer .pie img {
  display: inline-block;
  width: 20px;
}
footer .pie p {
  display: inline-block;
  color: #7f8083;
  font-family: "Roboto", sans-serif, 18px;
}

#content .content-area {
  background-size: cover;
  padding: 8px;
}
#content .content-area .block2 {
  position: relative;
  margin: 15px 0px !important;
}
#content .content-area .block2 article {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  display: inline-block;
  width: 500px;
  vertical-align: top;
  font-family: "Montserrat-Regular", roboto, 18px;
  margin: 10px 15px;
}
#content .content-area .block2 article:nth-child(1) {
  margin: 0 0 0 10%;
}
#content .content-area .block2 article .h-ico {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
#content .content-area .block2 article .h-ico:hover {
  -webkit-filter: hue-rotate(200deg);
  -ms-filter: hue-rotate(200deg);
  -moz-filter: hue-rotate(200deg);
  -o-filter: hue-rotate(200deg);
  filter: hue-rotate(200deg);
}
#content .content-area .block2 article ul, #content .content-area .block2 article p {
  list-style: none;
  width: 48%;
  margin: 0 0 0 25px;
  display: inline-block;
  vertical-align: top;
}
#content .content-area .block2 article ul span, #content .content-area .block2 article p span {
  font-family: "FontAwesome", arial;
}
#content .content-area .block2 article ul li:before, #content .content-area .block2 article p li:before {
  font-family: "FontAwesome", arial;
  content: '\f00c';
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
#content .content-area .block2 article ul strong, #content .content-area .block2 article p strong {
  font-size: 18px;
  text-transform: uppercase;
  color: #f7941e;
}
#content .content-area .block2 article ul .b-mas, #content .content-area .block2 article p .b-mas {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
  display: block;
  text-align: center;
  margin: 10px 0;
}
#content .content-area .block2 .tiendas {
  background: rgba(204, 204, 204, 0.8);
  width: 100%;
  margin: 20px auto !important;
  padding: 0px;
  border: none;
}
#content .content-area .block2 .tiendas article.tiendas {
  background: none;
}
#content .content-area .block2 .tiendas article.tiendas .shop-slide {
  background: none;
  width: 960px;
  margin: 0 auto;
}
#content .content-area .block2 .tiendas article.tiendas .shop-slide img {
  display: inline-block;
  vertical-align: center;
  margin: 10px 20px;
}
#content .content-area .block2 .tiendas article.tiendas .shop-slide img:hover {
  -webkit-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
}
#content .content-area .block2 .tiendas p {
  color: #f7941e;
  text-align: left;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
}

.nosotros .cover {
  width: inherit;
  height: 600px;
  text-align: center;
  padding: 20px 0;
  background: url(images/cover-bg_01.png) no-repeat;
}
.nosotros .cover h1 {
  font-family: "BIG-JOHN", Roboto !important;
  font-size: 44.16px;
  padding: 20px !important;
  border: dashed 3px !important;
  text-transform: uppercase !important;
  margin: 20px auto !important;
  display: inline-block;
  transition: color 500ms ease, text-shadow 500ms ease;
  color: white;
}
.nosotros .cover h1:hover {
  text-shadow: 0 0 10px white;
}
.nosotros .cover p {
  width: 800px;
  margin: auto;
  color: white;
}
.nosotros .cover span h3 {
  font-family: "FontAwesome", arial;
  color: white;
  font-size: 30px;
  margin: 30px 0;
}
.nosotros #block2 {
  padding: 20px 0;
  background: url(images/bg_03.png);
  background-size: cover;
  text-align: center;
}
.nosotros #block2 .hexa-hold {
  display: inline-block;
  vertical-align: middle;
  margin: 20px 10px;
  position: relative;
  width: 310px;
  height: 350px;
}
.nosotros #block2 .hexa-hold:hover .hexa2 {
  opacity: 0;
}
.nosotros #block2 .hexa-hold .hexa1 {
  position: relative;
  margin: 100px auto;
  width: 310px;
  height: 180px;
  background: white;
  border-left: 2px dashed #f7941e;
  border-right: 2px dashed #f7941e;
  z-index: 1;
  /* Text styling */
  line-height: 110px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
  color: #691f57;
  top: 0px;
  position: absolute;
}
.nosotros #block2 .hexa-hold .hexa1:hover {
  text-shadow: 0 0 10px white;
}
.nosotros #block2 .hexa-hold .hexa1 .face1,
.nosotros #block2 .hexa-hold .hexa1 .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  border-left: 2px dashed #f7941e;
  border-right: 2px dashed #f7941e;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
.nosotros #block2 .hexa-hold .hexa1 .face1:before,
.nosotros #block2 .hexa-hold .hexa1 .face2:before {
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
  background: inherit;
}
.nosotros #block2 .hexa-hold .hexa1 .face1 {
  transform: rotate(60deg);
}
.nosotros #block2 .hexa-hold .hexa1 .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-110px, 0);
}
.nosotros #block2 .hexa-hold .hexa1 .face2 {
  transform: rotate(-60deg);
}
.nosotros #block2 .hexa-hold .hexa1 .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(110px, 0);
}
.nosotros #block2 .hexa-hold .hexa1 section {
  line-height: 17px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: initial;
}
.nosotros #block2 .hexa-hold .hexa2 {
  position: relative;
  margin: 100px auto;
  width: 310px;
  height: 180px;
  background: url("images/hexa-bg1.png") #691f57 no-repeat;
  background-position: center center;
  z-index: 1;
  /* Text styling */
  line-height: 110px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
  z-index: 3;
  top: 0px;
  position: absolute;
  color: white;
  transition: all 0.5s ease;
  opacity: 1;
}
.nosotros #block2 .hexa-hold .hexa2:hover {
  color: #fff;
  text-shadow: 0 0 10px white;
}
.nosotros #block2 .hexa-hold .hexa2 .face1,
.nosotros #block2 .hexa-hold .hexa2 .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
.nosotros #block2 .hexa-hold .hexa2 .face1:before,
.nosotros #block2 .hexa-hold .hexa2 .face2:before {
  content: '';
  position: absolute;
  width: 305px;
  height: 388px;
  background: inherit;
}
.nosotros #block2 .hexa-hold .hexa2 .face1 {
  transform: rotate(60deg);
}
.nosotros #block2 .hexa-hold .hexa2 .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-152px, 0);
}
.nosotros #block2 .hexa-hold .hexa2 .face2 {
  transform: rotate(-60deg);
}
.nosotros #block2 .hexa-hold .hexa2 .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(153px, 0);
}
.nosotros #block2 .hexa-hold .hexa2 h2 {
  text-transform: uppercase;
  font-family: "Montserrat-Regular", roboto, 18px;
  padding: 20px 0 0 0;
}

#single-page {
  position: relative;
}
#single-page .cover {
  background: url(images/bg_03.png);
  padding: 20px 0;
  text-align: center;
}
#single-page .cover h1 {
  font-family: "BIG-JOHN", Roboto !important;
  font-size: 44.16px;
  padding: 20px !important;
  border: dashed 3px !important;
  text-transform: uppercase !important;
  margin: 20px auto !important;
  display: inline-block;
  transition: color 500ms ease, text-shadow 500ms ease;
  color: #691f57;
  display: inline-block;
  margin: 0 auto;
  transition: color 500ms ease, text-shadow 500ms ease;
}
#single-page .cover h1:hover {
  text-shadow: 0 0 10px white;
}
#single-page .cover h1:hover {
  text-shadow: 0 0 10px #691f57;
}
#single-page .cover section {
  color: #691f57;
  font-size: 20px;
  margin: 0 auto;
  width: 700px;
}
#single-page .oranje-block {
  background: #f7941e;
  padding: 20px 0;
}
#single-page .oranje-block .oranje-item {
  padding: 0 12px;
  margin: 20px 0;
}
#single-page .oranje-block .oranje-item h1, #single-page .oranje-block .oranje-item span {
  display: inline-block;
  vertical-align: middle;
  transition: color 500ms ease, text-shadow 500ms ease;
  color: #691f57;
}
#single-page .oranje-block .oranje-item h1:hover, #single-page .oranje-block .oranje-item span:hover {
  text-shadow: 0 0 10px white;
}
#single-page .oranje-block .oranje-item section {
  color: white;
  font-family: "Montserrat-Regular", roboto, 18px;
  font-size: 16px;
}
#single-page .oranje-block .oranje-item:nth-child(1) {
  content: '';
  height: 150px;
  border-right: 2px dashed white;
}
#single-page .oranje-block .oranje-item:nth-child(2) {
  content: '';
  height: 150px;
  border-right: 2px dashed white;
}
#single-page .oranje-block .oranje-item:nth-child(4) {
  content: '';
  height: 150px;
  border-right: 2px dashed white;
}
#single-page .oranje-block .oranje-item:nth-child(5) {
  content: '';
  height: 150px;
  border-right: 2px dashed white;
}
#single-page .block3 {
  padding: 40px 0;
  width: 960px;
  position: relative;
  margin: 0 auto;
}
#single-page .block3 .mood-b1 {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
  display: inline-block;
  vertical-align: middle;
}
#single-page .block3 .mood-b1 .pr-item {
  display: inline-block;
  vertical-align: middle;
}
#single-page .block3 .mood-b1 section {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 6px;
}
#single-page .block3 .mood-b1 section h3 {
  color: #f7941e;
}
#single-page .block3 .mood-b2 {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 80;
}
#single-page .block3 .mood-b2 .pr-item {
  display: inline-block;
  vertical-align: middle;
}
#single-page .block3 .mood-b2 section {
  width: 262px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

#single-page {
  background: url(images/ba_03.png);
  background-size: cover;
}
#single-page .cover {
  background: url(images/bg_03.png);
  padding: 20px 0;
  text-align: center;
}
#single-page .cover h1 {
  font-family: "BIG-JOHN", Roboto !important;
  font-size: 44.16px;
  padding: 20px !important;
  border: dashed 3px !important;
  text-transform: uppercase !important;
  margin: 20px auto !important;
  display: inline-block;
  transition: color 500ms ease, text-shadow 500ms ease;
  color: #691f57;
  display: inline-block;
  margin: 0 auto;
  transition: color 500ms ease, text-shadow 500ms ease;
}
#single-page .cover h1:hover {
  text-shadow: 0 0 10px white;
}
#single-page .cover h1:hover {
  text-shadow: 0 0 10px #691f57;
}
#single-page .cover section {
  color: #691f57;
  font-size: 20px;
  margin: 0 auto;
  width: 700px;
}
#single-page #content {
  width: 960px;
  padding: 20px 8px;
  margin: 0 auto;
  position: relative;
}

#wpcf7-f81-p79-o1 {
  width: 780px;
  overflow: auto;
  position: relative;
  margin: 20px auto;
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
}
#wpcf7-f81-p79-o1 input, #wpcf7-f81-p79-o1 textarea {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  margin: 10px 30px;
  width: 40%;
  float: left;
  transition: background 0.4s ease;
}
#wpcf7-f81-p79-o1 input:focus, #wpcf7-f81-p79-o1 textarea:focus {
  background: #cccccc;
  color: #330033;
}
#wpcf7-f81-p79-o1 .wpcf7-submit {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
  float: left;
  transition: background 1s ease;
  cursor: pointer;
}
#wpcf7-f81-p79-o1 .wpcf7-submit:hover {
  background: #f79521;
  color: white;
}
#wpcf7-f81-p79-o1 .wpcf7-response-output {
  float: left;
}

.contacto {
  padding: 0 0 0 80px;
}
.contacto #wpcf7-f16-p129-o3, .contacto #wpcf7-f16-p129-o2 {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
}
.contacto #wpcf7-f16-p129-o3 p, .contacto #wpcf7-f16-p129-o2 p {
  width: 50%;
  float: left;
}
.contacto #wpcf7-f16-p129-o3 p input, .contacto #wpcf7-f16-p129-o2 p input {
  width: 80%;
  padding: 6px;
  transition: background 0.4s ease;
}
.contacto #wpcf7-f16-p129-o3 p input:focus, .contacto #wpcf7-f16-p129-o2 p input:focus {
  background: #cccccc;
  color: white;
}
.contacto #wpcf7-f16-p129-o3 p textarea, .contacto #wpcf7-f16-p129-o2 p textarea {
  padding: 6px;
  margin: 10px 0;
  float: left;
  width: 100%;
  transition: background 0.4s ease;
}
.contacto #wpcf7-f16-p129-o3 p textarea:focus, .contacto #wpcf7-f16-p129-o2 p textarea:focus {
  background: #cccccc;
  color: white;
}
.contacto #wpcf7-f16-p129-o3 p .wpcf7-submit, .contacto #wpcf7-f16-p129-o2 p .wpcf7-submit {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
  cursor: pointer;
  margin: 160px 0 0 40px;
}
.contacto .wpb_gmaps_widget {
  width: 500px;
  margin: 0 auto;
  padding: 0 80px 0 0;
}

#single-page .cover section {
  display: none;
}
#single-page .row-tabs .wpb_tabs_nav {
  text-align: center;
  border-bottom: 4px solid #f7941e;
}
#single-page .row-tabs .wpb_tabs_nav li {
  float: none !important;
  display: inline-block;
  margin: 0 auto;
  background: none;
  font-family: "BIG-JOHN", Roboto;
}
#single-page .row-tabs .wpb_tabs_nav .ui-state-active, #single-page .row-tabs .wpb_tabs_nav .ui-state-active {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
  font-family: "BIG-JOHN", Roboto;
}
#single-page .row-tabs .wpb_tabs_nav .ui-state-active a, #single-page .row-tabs .wpb_tabs_nav .ui-state-active a {
  color: white;
}
#single-page .row-tabs .wpb_tour_tabs_wrapper {
  width: 80%;
  margin: 0 auto;
}
#single-page .row-tabs .wpb_tour_tabs_wrapper .ui-tabs-panel {
  background: none;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce .myaccount_user, #single-page .row-tabs #tab-1426816174-1-14 .woocommerce .myaccount_address, #single-page .row-tabs #tab-1426816174-1-14 .woocommerce .addresses {
  display: none !important;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce h2 {
  margin: -82px 0 38px 0;
  padding: 8px 4px;
  background: #f7941e;
  color: white;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce h2:nth-of-type(2) {
  display: none;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce .my_account_orders {
  margin-top: -50px;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce .my_account_orders thead {
  background: #f7941e;
  color: white;
  font-family: "Montserrat-Regular", roboto, 18px;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce .my_account_orders tbody tr {
  background: #cccccc;
  border: 0px;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce .my_account_orders tbody tr:nth-of-type(odd) {
  background: white;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce .my_account_orders tbody tr td {
  border: 0px;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce form {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  width: 80%;
  margin: 10px auto;
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce form h3 {
  width: 100%;
  text-align: center;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce form p {
  margin: 8px 0px;
  float: none;
  clear: none;
  -webkit-flex: 2 40%;
  -ms-flex: 2 40%;
  -moz-flex: 2 40%;
  -o-flex: 2 40%;
  flex: 2 40%;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce form p label {
  display: inline-block;
  margin: 0 4px;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce form p input {
  display: inline-block !important;
  padding: 8px;
  width: 60%;
  background: #cccccc;
  transition: background 0.4s ease;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce form p input:focus {
  background: #691f57;
  color: white;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce .order-info {
  display: none;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce header {
  background: none;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce header.title {
  font-family: "BIG-JOHN", Roboto !important;
  font-size: 44.16px;
  padding: 20px !important;
  border: dashed 3px !important;
  text-transform: uppercase !important;
  margin: 20px auto !important;
  display: inline-block;
  transition: color 500ms ease, text-shadow 500ms ease;
  padding: 10px 0px;
  font-size: 20px !important;
  display: block;
}
#single-page .row-tabs #tab-1426816174-1-14 .woocommerce header.title:hover {
  text-shadow: 0 0 10px white;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce .images {
  display: none !important;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce .entry-summary {
  width: 50%;
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  float: none;
  margin: 0 auto;
  text-align: center;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce .entry-summary input {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  transition: background 0.4s ease;
  width: 80%;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce .entry-summary input:focus {
  background: #cccccc;
  color: white;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce .entry-summary .quantity {
  display: none;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce .entry-summary #field_1_5 {
  border: noone;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce .woocommerce-tabs {
  display: none !important;
}
#single-page .row-tabs #tab-1426942649114-2-6 .woocommerce button {
  margin: 0 auto;
  float: none;
}
#single-page .row-tabs #tab-1426816198224-2-3 #wpcf7-f171-p88-o2 {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
#single-page .row-tabs #tab-1426816198224-2-3 #wpcf7-f171-p88-o2 p {
  margin: 10px auto;
}
#single-page .row-tabs #tab-1426816198224-2-3 #wpcf7-f171-p88-o2 p label {
  display: inline-block;
  vertical-align: middle;
}
#single-page .row-tabs #tab-1426816198224-2-3 #wpcf7-f171-p88-o2 p input {
  padding: 4px;
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
  transition: background 0.4s ease;
}
#single-page .row-tabs #tab-1426816198224-2-3 #wpcf7-f171-p88-o2 p input:focus {
  background: #cccccc;
  color: white;
}
#single-page .row-tabs #tab-1426816198224-2-3 #wpcf7-f171-p88-o2 p .wpcf7-submit {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
  margin: 10px 0;
}
#single-page .row-tabs #tab-1426816198224-2-3 #wpcf7-f171-p88-o2 p .caption {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-align: left;
  width: 200px;
}
#single-page .row-address .woocommerce {
  width: 90%;
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  margin: 0 auto;
}
#single-page .row-address .woocommerce h2 {
  margin: -222px 0 0 0;
  font-size: 30px;
  text-align: center;
  color: #691f57;
}
#single-page .row-address .woocommerce h2:nth-of-type(1) {
  display: none;
}
#single-page .row-address .woocommerce .myaccount_user, #single-page .row-address .woocommerce .my_account_orders, #single-page .row-address .woocommerce .shop_table, #single-page .row-address .woocommerce header, #single-page .row-address .woocommerce address {
  display: none;
}
#single-page .row-address .woocommerce .myaccount_address {
  width: 100%;
}
#single-page .row-address .woocommerce .col2-set {
  margin: -130px 0 0 0;
}
#single-page .row-address .woocommerce .col2-set header {
  background: none;
}
#single-page .row-address .woocommerce .col2-set .col-1 .title h3, #single-page .row-address .woocommerce .col2-set .col-1 .title a, #single-page .row-address .woocommerce .col2-set .col-2 .title h3, #single-page .row-address .woocommerce .col2-set .col-2 .title a {
  display: inline-block;
}
#single-page .row-address .woocommerce .col2-set .col-1 address, #single-page .row-address .woocommerce .col2-set .col-2 address {
  display: inline-block;
  width: 80%;
  background: rgba(6, 255, 255, 0.5);
  padding: 12px;
}

.user-bar {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
  position: relative;
  width: 100%;
}
.user-bar h3 {
  color: #691f57;
  padding: 0 0 0 20px;
  display: inline-block;
  vertical-align: middle;
}
.user-bar .logut-but {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.user-bar .logut-but span {
  font-family: "FontAwesome", arial;
  font-weight: bold;
}
.user-bar .logut-but:hover {
  color: white;
}
.user-bar a.logut-but {
  float: right;
}

.quicklog .login {
  position: relative;
  display: block;
  background: none;
  width: 100%;
}
.quicklog .login .log-box {
  display: block;
  width: 80%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.quicklog .login .log-box #wppb-login-wrap {
  display: inline-block;
  vertical-align: top;
}
.quicklog .login .log-box .reg-button {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  padding: 0px;
}

#select_user_to_edit_form {
  width: 600px;
  margin: 0 auto;
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
}
#select_user_to_edit_form input {
  background: white;
  padding: 4px;
}

.alert {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#wppb-register-user {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  margin: 20px auto;
  width: 60%;
}
#wppb-register-user ul {
  list-style: none !important;
}
#wppb-register-user ul li {
  margin: 20px auto;
  width: 70%;
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}
#wppb-register-user ul li label {
  -webkit-order: 1;
  -ms-order: 1;
  -moz-order: 1;
  -o-order: 1;
  order: 1;
  margin: 0 4px;
}
#wppb-register-user ul li input {
  -webkit-order: 2;
  -ms-order: 2;
  -moz-order: 2;
  -o-order: 2;
  order: 2;
  padding: 8px;
  -webkit-flex: 2 auto;
  -ms-flex: 2 auto;
  -moz-flex: 2 auto;
  -o-flex: 2 auto;
  flex: 2 auto;
  width: 200px;
  background: #cccccc;
  transition: background 0.4s ease;
}
#wppb-register-user ul li input:focus {
  background: #691f57;
  color: white;
}
#wppb-register-user ul li #pass-strength-result, #wppb-register-user ul li .wppb-description-delimiter {
  -webkit-order: 3;
  -ms-order: 3;
  -moz-order: 3;
  -o-order: 3;
  order: 3;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  -moz-flex: 1 100%;
  -o-flex: 1 100%;
  flex: 1 100%;
  text-align: center;
  background: rgba(6, 255, 255, 0.5);
  padding: 4px;
}
#wppb-register-user .form-submit {
  margin: 0 auto;
  text-align: center;
}
#wppb-register-user .form-submit input {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
  cursor: pointer;
}
#wppb-register-user .form-submit input:hover {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
}

.edit-head {
  width: 70%;
  margin: 0 auto !important;
  text-align: center;
}

.edit-form {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  font-size: 20px;
  width: 60%;
  margin: 20px auto !important;
}
.edit-form ul {
  list-style: none !important;
}
.edit-form ul li {
  margin: 20px auto;
  width: 70%;
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}
.edit-form ul li label {
  -webkit-order: 1;
  -ms-order: 1;
  -moz-order: 1;
  -o-order: 1;
  order: 1;
  margin: 0 4px;
}
.edit-form ul li input {
  -webkit-order: 2;
  -ms-order: 2;
  -moz-order: 2;
  -o-order: 2;
  order: 2;
  padding: 8px;
  -webkit-flex: 2 auto;
  -ms-flex: 2 auto;
  -moz-flex: 2 auto;
  -o-flex: 2 auto;
  flex: 2 auto;
  width: 200px;
  background: #cccccc;
  transition: background 0.4s ease;
}
.edit-form ul li input:focus {
  background: #691f57;
  color: white;
}
.edit-form ul li #pass-strength-result, .edit-form ul li .wppb-description-delimiter {
  -webkit-order: 3;
  -ms-order: 3;
  -moz-order: 3;
  -o-order: 3;
  order: 3;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  -moz-flex: 1 100%;
  -o-flex: 1 100%;
  flex: 1 100%;
  text-align: center;
  background: rgba(6, 255, 255, 0.5);
  padding: 4px;
}
.edit-form .form-submit {
  margin: 0 auto;
  text-align: center;
}
.edit-form .form-submit input {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #691f57;
  border: 0px;
  color: white;
  cursor: pointer;
}
.edit-form .form-submit input:hover {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
}

.checkout {
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
  width: 80%;
  margin: 0 auto !important;
}
.checkout #customer_details {
  display: none;
}
.checkout .woocommerce-checkout {
  width: 100%;
}
.checkout .woocommerce-checkout #order_review table {
  color: white;
}

.placed-order .woocommerce {
  width: 80%;
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  margin: 0 auto;
}
.placed-order .woocommerce header {
  font-family: "BIG-JOHN", Roboto !important;
  font-size: 44.16px;
  padding: 20px !important;
  border: dashed 3px !important;
  text-transform: uppercase !important;
  margin: 20px auto !important;
  display: inline-block;
  transition: color 500ms ease, text-shadow 500ms ease;
  background: none;
  font-size: 20px;
  padding: 20px 0 !important;
}
.placed-order .woocommerce header:hover {
  text-shadow: 0 0 10px white;
}

.not-user.quicklog .wpb_wrapper {
  width: 80%;
  margin: 0 auto;
}
.not-user.quicklog .wpb_wrapper .caption {
  width: 100%;
  display: inline-block;
}
.not-user.quicklog .wpb_wrapper pre {
  width: 50%;
  padding: 8px;
  font-family: "Montserrat-Regular", roboto, 18px;
  background: #f7941e;
  border: 0px;
  color: white;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
.not-user.quicklog .wpb_wrapper pre .wppb-user-forms #loginform {
  margin: -80px 0 0 20px;
}
.not-user.quicklog .wpb_wrapper pre .wppb-user-forms #loginform p {
  padding: 0px;
}
.not-user.quicklog .wpb_wrapper pre .wppb-user-forms #loginform p input {
  padding: 8px;
  border: 2px #691f57 solid;
  color: #691f57;
  font-family: "Montserrat-Regular", roboto, 18px;
  transition: background 0.4s ease;
}
.not-user.quicklog .wpb_wrapper pre .wppb-user-forms #loginform p input:focus {
  background: #cccccc;
  color: #691f57;
}
.not-user.quicklog .wpb_wrapper img {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.not-user.quicklog .wpb_wrapper img:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media all and (min-width: 300px) and (max-width: 1025px) {
  #wpadminbar {
    position: relative;
  }

  .vc_column_container {
    padding: 0px !important;
  }

  .lock-body {
    height: 100%;
    overflow-y: hidden;
  }

  .login .log-box {
    width: 90%;
  }
  .login .log-box #wppb-login-wrap {
    width: 93%;
  }

  header nav {
    width: 90%;
    height: inherit;
    padding: 0 1em;
  }
  header nav figure {
    margin: 0px 8px;
  }
  header nav figure img {
    margin: 0px 0px;
    height: 80%;
    width: inherit;
  }
  header nav .burger {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 110;
    -webkit-transition: content 0.3 ease-in-out;
    -ms-transition: content 0.3 ease-in-out;
    -moz-transition: content 0.3 ease-in-out;
    -o-transition: content 0.3 ease-in-out;
    transition: content 0.3 ease-in-out;
  }
  header nav .burger:before {
    content: '\f0c9';
  }
  header nav .burger-on {
    color: #cccccc;
  }
  header nav .burger-on:before {
    content: '\f00d';
  }
  header nav .social {
    display: none;
  }
  header nav .nav-holder {
    position: fixed;
    padding: 60px 0 0 0;
    z-index: 100;
    width: 200px;
    height: 100%;
    background: #691f57;
    left: -210px;
    right: 0px;
    top: 0px;
    -webkit-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
  }
  header nav .nav-holder figure {
    width: 50%;
    display: block;
    position: relative;
    top: 0px;
    right: -50px;
  }
  header nav .nav-holder figure img {
    width: 100%;
    height: inherit;
  }
  header nav .nav-holder .social {
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    margin: 30px 0 0 20px;
  }
  header nav .nav-holder .social li {
    float: none;
    font-family: "FontAwesome", arial;
    color: #f7941e;
    display: inline-block;
    vertical-align: middle;
  }
  header nav .nav-holder .menu {
    overflow: auto;
    margin: 40px 0 0 0;
  }
  header nav .nav-holder .menu .current-menu-item a {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    color: #f7941e !important;
  }
  header nav .nav-holder .menu:before {
    content: '\f00b';
  }
  header nav .nav-holder .menu li a {
    color: white !important;
    margin: 100px 0 !important;
    -webkit-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  header nav .open-sidebar {
    left: 0px;
  }
  header .swipe-area {
    display: block;
    position: fixed;
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 0;
    -webkit-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  header .swipe-on {
    left: 200px;
    width: 100%;
  }

  footer #f-wrap .f-block {
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
  footer #f-wrap .f-block:nth-child(1) {
    display: none;
  }
  footer #f-wrap .f-block h3 {
    text-align: center;
  }

  #content .content-area .block2 article {
    width: 90%;
    margin: 10px auto !important;
    text-align: center;
  }
  #content .content-area .block2 article ul, #content .content-area .block2 article p {
    width: 80%;
    margin: 10px 0px;
  }
  #content .content-area .block2 .tiendas article.tiendas .shop-slide {
    width: 100%;
  }
  #content .content-area .block2 .tiendas article.tiendas .shop-slide img {
    width: 40%;
    margin: 8px;
  }

  .nosotros .cover {
    height: inherit;
  }
  .nosotros .cover h1 {
    font-size: 20px;
    width: 80%;
  }
  .nosotros .cover p {
    width: 90%;
    padding: 8px;
  }
  .nosotros #block2 {
    margin: 120px 0 0 0;
  }
  .nosotros #block2 .hexa-hold {
    margin: 0 auto;
    display: block;
  }
  .nosotros #block2 .hexa-hold .hexa1, .nosotros #block2 .hexa-hold .hexa2 {
    display: block;
    margin: 0px auto;
    width: 287px;
    height: 163px;
    top: 0px;
    right: 0px;
    left: 0px;
  }

  #single-page .cover {
    height: inherit;
  }
  #single-page .cover h1 {
    font-size: 2em;
    width: 80%;
  }
  #single-page .cover p {
    width: 90%;
    padding: 8px;
  }
  #single-page .content-hold {
    width: 100%;
  }
  #single-page .content-hold .oranje-block {
    padding: 0px;
    margin: 0px;
  }
  #single-page .content-hold .oranje-block article.oranje-item {
    width: 90%;
    height: inherit;
    margin: 20px 0px;
  }
  #single-page .content-hold .block3 {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #single-page .content-hold .block3 .mood-b1, #single-page .content-hold .block3 .mood-b2 {
    text-align: center;
    width: 90%;
    display: block;
    margin: 20px auto;
  }
  #single-page .content-hold .block3 .mood-b1 section, #single-page .content-hold .block3 .mood-b2 section {
    width: 90%;
  }
  #single-page .content-hold form {
    width: 100%;
    text-align: center;
  }
  #single-page .content-hold form input {
    width: 100%;
    margin: 10px 0px;
  }
  #single-page .content-hold form textarea {
    width: 100%;
    margin: 10px 0px;
  }
  #single-page .content-hold #wpcf7-f81-p79-o1 {
    width: 90%;
    padding: 20px 8px;
  }
  #single-page .content-hold .wpb_tabs_nav li {
    width: 100%;
  }
  #single-page .content-hold .wpb_tour_tabs_wrapper {
    width: 100%;
  }
  #single-page .content-hold .tab .wpb_tab {
    padding: 0px;
  }
  #single-page .content-hold #tab-1426942649114-2-6 .woocommerce .entry-summary {
    width: 95%;
  }
  #single-page .content-hold .row-address .woocommerce {
    width: 100%;
  }
  #single-page .content-hold .row-address .woocommerce h2 {
    width: 100%;
  }
  #single-page .content-hold .row-address .woocommerce .myaccount_address {
    width: 100%;
    margin: 0px;
    display: block;
    text-align: center;
    -webkit-overflow-wrap: break-word;
    -ms-overflow-wrap: break-word;
    -moz-overflow-wrap: break-word;
    -o-overflow-wrap: break-word;
    overflow-wrap: break-word;
  }
  #single-page .content-hold .row-address .woocommerce .col2-set {
    display: block;
  }
  #single-page .content-hold .row-address .woocommerce .col2-set header {
    background: none;
  }
  #single-page .content-hold .row-address .woocommerce .col2-set .col-1 .title h3, #single-page .content-hold .row-address .woocommerce .col2-set .col-1 .title a, #single-page .content-hold .row-address .woocommerce .col2-set .col-2 .title h3, #single-page .content-hold .row-address .woocommerce .col2-set .col-2 .title a {
    display: block;
  }
  #single-page .content-hold .row-address .woocommerce .col2-set .col-1 address, #single-page .content-hold .row-address .woocommerce .col2-set .col-2 address {
    display: block;
    width: 90%;
    margin: 0px auto;
    -webkit-overflow-wrap: break-word;
    -ms-overflow-wrap: break-word;
    -moz-overflow-wrap: break-word;
    -o-overflow-wrap: break-word;
    overflow-wrap: break-word;
  }
  #single-page .content-hold .quicklog {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #single-page .content-hold .quicklog .wpb_wrapper {
    width: 100%;
  }
  #single-page .content-hold .quicklog .wpb_wrapper .login {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: inherit;
  }
  #single-page .content-hold .quicklog .wpb_wrapper .login .log-box {
    position: relative !important;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
  }
  #single-page .content-hold .quicklog .wpb_wrapper .login .log-box #wppb-login-wrap {
    width: 93%;
    margin: 10px 0px;
  }
  #single-page .content-hold .quicklog .wpb_wrapper .login .log-box .reg-button {
    width: 90%;
  }
  #single-page .content-hold .quicklog .wpb_wrapper .login .log-box .reg-button img {
    width: 100%;
  }
  #single-page .content-hold .edit-head {
    width: 90%;
  }
  #single-page .content-hold .edit-form {
    width: 90%;
  }
  #single-page .content-hold .edit-form ul li {
    width: 100%;
  }

  .contacto {
    padding: 0px;
  }
  .contacto #wpcf7-f16-p129-o3, .contacto #wpcf7-f16-p129-o2 {
    width: 80%;
    padding: 4px;
  }
  .contacto #wpcf7-f16-p129-o3 p, .contacto #wpcf7-f16-p129-o2 p {
    width: 100%;
  }
  .contacto #wpcf7-f16-p129-o3 p .wpcf7-submit, .contacto #wpcf7-f16-p129-o2 p .wpcf7-submit {
    display: block;
    margin: 0 auto;
  }
  .contacto .wpb_gmaps_widget {
    width: 80%;
    padding: 0px;
  }
}
@media all and (max-width: 1025px) and (min-width: 375px) {
  header nav .social {
    display: block;
    position: absolute;
    right: 10px;
    top: 64px;
  }
  header nav .nav-holder figure {
    top: -18px;
    right: -78px;
  }

  footer #f-wrap .f-block {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 10px;
  }

  #content .content-area .block2 .tiendas article.tiendas .shop-slide img {
    width: 10%;
  }

  .nosotros #block2 .hexa-hold {
    width: 40%;
    display: inline-block;
  }
}
