
//telefonos mobiles
@media all and (min-width: 300px) and (max-width: 1025px){
	// html{overflow-x: hidden;}
	#wpadminbar{
		position: relative;
	}
	.vc_column_container{
		padding: 0px !important;
	}

	.lock-body{
		height: 100%;
		overflow-y: hidden;
	}

	.login{
		.log-box{
			width: 90%;
			#wppb-login-wrap{
				width: 93%;
			}
		}
	}

//head+menu	
	header{

		nav{
			width: 90%;
			height: inherit;
			padding: 0 1em;
			figure{
				margin: 0px 8px;
				img{
					margin: 0px 0px;
					height: 80%;
					width: inherit
				}
			} 

			.burger{
				display: inline-block;
				vertical-align: middle;
				position: relative;
				z-index: 110;
				@include vendor-prefix(transition, content 0.3 ease-in-out);
				&:before{
					content: '\f0c9';
				}

			}

			.burger-on{
				color: $gris2;
				&:before{
					content: '\f00d';
				}
			}


			.social{
				display:none;
				
			}

			.nav-holder{
				position: fixed;
				padding: 60px 0 0 0;
				z-index: 100;
				width: 200px;
				height: 100%;
				background: $morado;
				left: -210px;
				right: 0px;
				top: 0px;
				@include vendor-prefix(transition, left 0.3s ease-in-out);
				figure{
					width: 50%;
					display: block;
					position: relative;
					top: -3em;
					right: -50px;
					img{
						width: 100%;
						height: inherit;
					}
				}
				.social{
					display: block;
					position: relative;
					top: 0px;
					right: 0px;
					margin: 30px 0 0 20px;
					li{
						float: none;
						font-family: $icons;
						color: $naranja;
						display: inline-block;
						vertical-align: middle;

					}

				}

				.menu{
					overflow: auto; 
					margin: 0px 0 0 0;
				
					.current-menu-item{
						a{
							border: 0px !important;
							padding: 0px !important;
							margin: 0px !important;
							color: $naranja !important;
						}
					} 
					&:before{
						content: '\f00b';
					}

					li{
						a{
							color: white !important;
							margin: 100px 0 !important;
							@include vendor-prefix(transition, background 0.3s ease-in-out);
						}

					}

				}
			}//end navholder

			
			.open-sidebar{
				left:0px;

			}



		}

		.swipe-area {
			display: block;
	        position: fixed;
	        width: 50px;
	        left: 0;
	        top: 0;
	        height: 100%;
	        // background: $gris-t;
	        z-index: 0;
	        @include vendor-prefix(transition, left 0.3s ease-in-out);
	        @include vendor-prefix(transition, width 0.3s ease-in-out);
	    }

	    .swipe-on{
			 left: 200px;
			 width: 100%;
	    }

	}

//footer
	footer{
		#f-wrap{
			.f-block{
				width: 100%;
				text-align: center;
				margin: 10px auto;
				&:nth-child(1){
					display: none;
				}
				h3{
					text-align: center;
				}
			}
			
		}
	}

//inicio
	.slider{
	}

	#content{
		.content-area{
			.block2{
				article{
					width: 90%;
					margin: 10px auto !important;
					text-align: center;
					ul, p{
						width: 80%;
						margin: 10px 0px;

					} 
				}
				.tiendas{
					article.tiendas{
						.shop-slide{
							width: 100%;
							img{
								width: 40%;
								margin: 8px;
							}
							
						}
					}

				}
			}
		}
	}

//empresa

	.nosotros{
		.cover{
			height: inherit;
			h1{
				font-size: 20px;
				width: 80%;
			}
			p{
				width: 90%; 
				padding: 8px;
			}
		}

		#block2{
			// height: inherit;
			margin: 120px 0 0 0;
			.hexa-hold{
				margin: 0 auto;
				display: block;

				.hexa1, .hexa2{
					display: block;
					margin: 0px auto;
					width: 287px;
					height: 163px;
					top: 0px;
					right: 0px;
					left: 0px;


				}
			}

		}

	}


//3-blocks "mi cuenta"

	#single-page{

		.cover{
			height: inherit;
			h1{
				font-size: 2em;
				width: 80%;
			}
			p{
				width: 90%; 
				padding: 8px;
			}
		}
		
		.content-hold{
			width: 100%;
			.oranje-block{
				padding: 0px;
				margin: 0px;
				article.oranje-item{
					width: 90%;
					height: inherit;
					margin: 20px 0px;
				}
			}

			.block3{
				width: 100%;
				padding: 0px;
				margin: 0px;
				.mood-b1, .mood-b2{
					text-align: center;
					width: 90%;
					display: block;
					margin: 20px auto;
					section{
						width: 90%;
					}

				}
			}


			//forms

			form{
				width: 100%;
				text-align: center;
				input{
					width: 100%;
					margin: 10px auto;
				}
				textarea{
					width: 100%;
					margin: 10px auto;
				}
			}

			#wpcf7-f81-p79-o1{
				width: 90%;
				padding: 20px 8px;
			}


			//mi cuenta ay dios!


			//tabnav
			.wpb_tabs_nav{
				li{
					width: 100%;

				}
			}

			//tabs

			.wpb_tour_tabs_wrapper{
				width: 100%;
			}

			.tab{
				.wpb_tab{
					padding: 0px;
				}
			}


			//tabs
			
			//tab1
			#tab-1426816174-1-14{

				form{
					display: block !important;
					margin: 0px;
					padding: 0px;
					p{
						display: block;
						width: 100%;
						margin: 10px 0;	
						input, label{
							margin: 0 auto;
							position: relative;
							left: 0px;
							display: block !important;
							width: 90% !important;
						}	
					}
				}

			}

			//tab2
			#tab-1426942649114-2-6{
				.woocommerce{
					.entry-summary{
						width: 95%;
					}
				}
			}

			//tab3
			#tab-1426816198224-2-3{

			}

			.row-address{
				.woocommerce{
					width: 100%;
					h2{
						width: 100%;
					}

					.myaccount_address{
						width: 100%;
						margin: 0px;
						display: block;
						text-align: center;
						@include vendor-prefix(overflow-wrap, break-word);
					}

					.col2-set{
						header{
							background: none;
						}


						display: block;

						.col-1, .col-2{

							.title{
								h3, a{
									display: block;
								}	
							}
							address{
								display: block;
								width: 90%;
								margin: 0px auto;
								@include vendor-prefix(overflow-wrap, break-word);
							}

							
						}
					}
				}
			}

			//not-user
			.quicklog{ display: none;
				background: url(images/bg_03.png);
				width: 100%;
				padding: 0px;
				margin: 0px;
				.wpb_wrapper{
					width: 100%;
					padding: 0px;
					margin: 0px;
					height: inherit;
					pre{
						width:100%;
						#wppb-login-wrap{
							position: relative !important;
							width: 93%;
							margin: 10px 0px;
							padding: 0px;
							top:0px;
							p{
								input, label{
									display: block !important;
									width: 90% !important;
									margin: 0 auto !important;

								}
							}

						}
					}
				}


				img{
					width: 100%;
					margin: 20px 0px;
				}
				
			}

			//edit user
			.edit-head{
				width: 90%;
			}
			.edit-form{
				width: 90%;
				ul{
					li{
						width: 100%;
					}
				}
			}
		}
	}


//contacto

	.contacto{
		padding: 0px;
		#wpcf7-f16-p129-o3, #wpcf7-f16-p129-o2{
			width: 80%;
			padding: 4px; 
			p{
				width: 100%;
			}
			p {
				.wpcf7-submit{
					display: block;
					margin: 0 auto;
				}
			}
		}




		.wpb_gmaps_widget{
			width: 80%;
			padding: 0px;
		}

	}


}


//tablets
@media all and(max-width: 1025px)and(min-width: 375px){

//inicio
	header{
		nav{
			.social{
				display: block;
				position: absolute;
				right: 10px;
				top: 64px;
			}

			.nav-holder{
				figure{
					top:-18px;
					right: -78px;
				}
			}
		}
	}

	.slider{

	}

	footer{
		#f-wrap{
			.f-block{
				display: inline-block;
				vertical-align: top;
				width: 30%;
				margin: 10px;
			}
		}
	}

	#content{
		.content-area{
			.block2{
				.tiendas{
					article.tiendas{
						.shop-slide{
							img{
								width: 10%;
							}
						}

					}
				}
			}
		}
	}



//empresa

	.nosotros{
		#block2{
			.hexa-hold{
				width: 40%;
				display: inline-block;
			}
		}
	}


//3-blocks

	#single-page{
		.content-hold{
			.oranje-block{
				article.oranje-item{
					
				}
			}
		}
	}


}