// estilos de los templates de woocommerce


#single-page{
	.cover{
		section{
			display: none;
		}
	}

	.row-tabs{

		//tabs nav
		.wpb_tabs_nav{
			text-align: center;
			border-bottom: 4px solid $naranja;
			li{
				float: none !important;
				display: inline-block;
				margin: 0 auto;
				background: none;
				font-family: $bigjhon;
			}
			.ui-state-active, .ui-state-active{
				@include oranje-box;
				font-family: $bigjhon;
				a{
					color: white;
				}
			}
		}


		//general tabs
		.wpb_tour_tabs_wrapper{
			width: 80%;
			margin: 0 auto;
			.ui-tabs-panel{
				background:none;
			}
		}

		//tab1
		#tab-1426816174-1-14{
			.woocommerce{
				.myaccount_user, .myaccount_address, .addresses{
					display: none !important;
					}

				h2{
					margin: 20px 0 38px 0;
					padding: 8px 4px;
					background: $naranja;
					color: white;
					&:nth-of-type(2){
						display: none;
					}
				}

				.my_account_orders{
					margin-top: -50px;
					thead{
						background: $naranja;
						color: white;
						font-family: $Montserrat;
					}
					tbody{
						tr{
							background: $gris2;
							border: 0px;
							&:nth-of-type(odd){
								background: white;
							}
							td{border: 0px;}
						}
					}
				}

				form{
					@include white-box;
					width: 80%; 
					margin: 10px auto;
					text-align: center;
					@include vendor-prefix(display, flex);
					@include vendor-prefix(flex-flow, row wrap);
					@include vendor-prefix(justify-content, space-around);
					h3{
						width: 100%;
						text-align: center;
					} 
					p{
						margin: 8px 0px;
						float: none;
						clear: none;
						@include vendor-prefix(flex, 2 40%);
						label{
							display: inline-block;
							margin: 0 4px;
						}
						input{
							display: inline-block ;
							padding: 8px;
							width: 60%;
							background: $gris2; 
							transition: background 0.4s ease;
							&:focus{
								background: $morado;
								color: white;
							}
						}

					}
					fieldset{
						@include vendor-prefix(display, flex);
						@include vendor-prefix(flex-flow, row wrap);
						@include vendor-prefix(justify-content, space-around);
						width: 100%;
						p{
							@include vendor-prefix(flex, 2 40%);
						}
					}
				}
				

				//detalles de la orden
				.order-info{
					display: block;
					font-family: $Montserrat !important;
					font-weight: bold;
					color: $morado;
					font-size: 20px;
				}

				header{
					background: none;

				}

				header.title{
					@include titulos;
					font-family: $Montserrat !important;
					font-weight: bolder;
					padding: 10px 0px;
					font-size: 20px !important;
					display: block; 
				}

				ol{
					display: block;
					li{
						background: $gris-t2;
						color: $morado;
					}
				}

			}
		}

		//tab2
		#tab-1426942649114-2-6{
			.woocommerce{
				.images{
					display: none !important;
				}
				.entry-summary{
					width: 50%;
					@include white-box;
					float: none;
					margin: 0 auto;
					text-align: center;
					input{
						@include white-box;
						transition: background 0.4s ease;
						width: 80%;
						&:focus{
							background: $gris2;
							color: white;
						}
					}
					.quantity{display: none;}
					#field_1_5{
						border: noone;
					}

				}
				.woocommerce-tabs{display:none !important;}
				button{
					margin: 0 auto;
					float: none;
				}
			}
		}

		//tab3
		#tab-1426816198224-2-3{
			#wpcf7-f171-p88-o2{
				@include oranje-box;
				margin: 0 auto;
				width: 60%;
				text-align: center;
				p{
					margin: 10px auto;
					label{
						display: inline-block;
						vertical-align: middle;
					}
					input{
						padding: 4px;
						display: inline-block;
						margin: 0 8px;
						vertical-align: middle;
						transition: background 0.4s ease;
						&:focus{
							background: $gris2;
							color: white;
						}

					}
					.wpcf7-submit{
						@include purple-box;
						margin: 10px 0;
					}
					.caption{
						display: inline-block;
						vertical-align: middle;
						font-size: 12px;
						text-align: left;
						width: 200px;
					}
				}
			}
		}
		

	}

	.row-address{
		margin: 40px 0 0 0;
		.wpb_wrapper{
			h2{
			margin: 20px 0 0 0; 
			font-size: 30px;
			text-align: center;
			color: $morado;
			
		}

		.myaccount_address{
			width: 100%;
			text-align: center;
		}

		.col2-set{
			width: 90%;
			position: relative;
			@include white-box;
			margin: 0 auto; 
			text-align: center;
			
			header{
					background: none;
			}

				.col-1, .col-2{
					width: 40%;
					display: inline-block;
					vertical-align: top;

					.title{
						h3, a{
							display: inline-block;
						}	
					}
					h2{
						margin: 15px 0 0 0;
					}
					address{
						display: inline-block;
						width: 80%;
						background: $gris-t2;
						padding: 12px;
					}

					
				}
			

		}
		}
	}
}



.user-bar{
	@include oranje-box;
	position: relative;
	width: 100%;
	h3{
		color: $morado;
		padding: 0 0 0 20px;
		display: inline-block;
		vertical-align: middle;
	}

	.logut-but{
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		span{
			font-family: $icons;
			font-weight: bold;
		}
		&:hover{
			color: white; 
		}

	}

	a.logut-but{
		float: right;
	}
}


.quicklog{
	.login{
		position: relative;
		display: block;
		background: none;
		width: 100%;
		.log-box{
			display: block;
			width: 80%;
			position: relative;
			margin: 0 auto;
			text-align: center;

			#wppb-login-wrap{
				display: inline-block;
				vertical-align: top;
			}

			.reg-button{
				display: inline-block;
				vertical-align: top;
				margin: 0px 10px;
				padding: 0px;
			}
		}
	}
}




#select_user_to_edit_form{
	width: 600px;
	margin: 0 auto;
	@include purple-box;
	input{
		background: white;
		padding: 4px;
	}
}


//registro de usuarios

.alert{
	width: 70%;
	margin: 0 auto;
	text-align: center;

}

#wppb-register-user{
	@include white-box;
	margin: 20px auto;
	width: 60%;
	ul{
		list-style: none !important;
		li{
			margin: 20px auto;
			width: 70%;
			@include vendor-prefix(display, flex);
			@include vendor-prefix(flex-flow, row wrap);
			justify-content: space-around;
			label{
				@include vendor-prefix(order, 1);
				margin: 0 4px;
			}
			input{
				@include vendor-prefix(order, 2);
				padding: 8px;
				@include vendor-prefix(flex, 2 auto);

				width: 200px;
				background: $gris2;
				transition: background 0.4s ease;
				&:focus{
					background: $morado;
					color: white;
				}
			}
			#pass-strength-result, .wppb-description-delimiter{
				@include vendor-prefix(order, 3);
				@include vendor-prefix(flex, 1 100%);
				text-align: center;
				background: $gris-t2;
				padding: 4px;
			}
			

		}
	}
	.form-submit{
		margin: 0 auto;
		text-align: center;
		input{
			@include purple-box;
			cursor: pointer;
			&:hover{
				@include oranje-box;
			}
		}
	}
}



// edicion de perfil 

.edit-head{
	width: 70%;
	margin: 0 auto !important;
	text-align: center;
}


//flex elements
.edit-form{
	@include white-box;
	font-size: 20px;
	width: 60%;
	margin: 20px auto !important;
	
	
	ul{

		list-style: none !important;
		li{
			margin: 20px auto;
			width: 70%;
			@include vendor-prefix(display, flex);
			@include vendor-prefix(flex-flow, row wrap);
			justify-content: space-around;
			label{
				@include vendor-prefix(order, 1);
				margin: 0 4px;
			}
			input{
				@include vendor-prefix(order, 2);
				padding: 8px;
				@include vendor-prefix(flex, 2 auto);

				width: 200px;
				background: $gris2;
				transition: background 0.4s ease;
				&:focus{
					background: $morado;
					color: white;
				}
			}
			#pass-strength-result, .wppb-description-delimiter{
				@include vendor-prefix(order, 3);
				@include vendor-prefix(flex, 1 100%);
				text-align: center;
				background: $gris-t2;
				padding: 4px;
			}
			

		}
	}
	.form-submit{
		margin: 0 auto;
		text-align: center;
		input{
			@include purple-box;
			cursor: pointer;
			&:hover{
				@include oranje-box;
			}
		}
	}
}


//checkout

.checkout{
	@include oranje-box;
	width: 80%;
	margin: 0 auto !important;

	#customer_details{
		display: none;
	}
	
	.woocommerce-checkout{
		width: 100%;
		#order_review{
			table{
				color: white;
			}
		}
	}
	
}


.placed-order{

	.woocommerce{
		width: 80%;
		@include white-box;
		margin: 0 auto;

		header{
			@include titulos;
			background: none;
			font-size: 20px;
			padding: 20px 0 !important;
			h2{}
		}
	}

}

.not-user.quicklog{
	.wpb_wrapper{
		width: 80%;
		margin: 0 auto;

		.caption{
			width: 100%;
			display: inline-block;
		}

		pre{
			width: 50%;
			@include oranje-box;
			display: inline-block;
			vertical-align: top;  
			margin: 0px;
			padding: 0px;
			.wppb-user-forms{
				#loginform{
					margin: -80px 0 0 20px;
					p{
						padding: 0px;
						input{
							@include white-box;
							transition: background 0.4s ease;
							&:focus{
								background: $gris2;
								color: $morado;
							}
						}
					}
					
				}
			}

		}

		img{
			width: 40%;
			display: inline-block;
			vertical-align: top;
			&:hover{
				opacity: 0.8;
				cursor: pointer;
			} 
		}


	}
}