/* CSS Document */
/* 
Theme Name: A&D Express
Theme URI: http://www.adexpress.com
Description: Tema personalizado para A&D Express
Version: 1.0
Author: Jose Avila
Author URI: http://jose-avila.hostei.com  */




/*////////////reset///////////////*/
body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,form,fieldset,input,textarea,blockquote{ margin:0;padding:0;border:0;outline:none; text-decortion: none !important;}


a{text-decoration: none !important;}

//prefixes

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
 
//colores 

	$morado: rgba(105, 31, 87, 1);
	$morado-t: rgba(105, 31, 87, 0.7);
	$morado2: rgb(51, 0, 51);
	$naranja: rgba(247, 148, 30, 1);
	$naranja2: rgb(247, 149, 33);
	$gris: rgba(127, 128, 131, 1);
	$gris-t: rgba(127, 128, 131, 0.5);
	$gris-t2: rgba(6, 255, 255, 0.5);
	$gris2: rgb(204, 204, 204);
	$gris2-t:  rgba(204, 204, 204, 0.8);
	/* @mixin noisyGrey{
		background-url: http://api.thumbr.it/whitenoise-361x370.png?
		background=#ccccccff&noise=949494&density=45&opacity=22
	} */

//gradients

	@mixin gradientWhite () {
		background: #ffffff; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #ffffff 7%, #ededed 91%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%,#ffffff), color-stop(91%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 7%,#ededed 91%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #ffffff 7%,#ededed 91%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #ffffff 7%,#ededed 91%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #ffffff 7%,#ededed 91%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	@mixin gradientPurple() {
		background-image: -webkit-linear-gradient(left,  $morado 50%, $morado2 );
		background-image: -o-linear-gradient(left,  $morado 50%, $morado2 );
		background-image: linear-gradient(to right,  $morado 50%, $morado2 );
	}

///fuentes

	@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

	@font-face {
	    font-family: 'BIG-JOHN'; 
	    src: url('fonts/BIG-JOHN.woff');
	    src: url('fonts/BIG-JOHN.woff?#iefix') format('embedded-opentype'),
	         url('fonts/BIG-JOHN.ttf') format('truetype'),
	         url('fonts/BIG-JOHN.svg#opficioregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
	@font-face {
    font-family: 'montserratregular';
    src: url('Montserrat-Regular-webfont.eot');
    src: url('Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Regular-webfont.woff2') format('woff2'),
         url('Montserrat-Regular-webfont.woff') format('woff'),
         url('Montserrat-Regular-webfont.ttf') format('truetype'),
         url('Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

	}
	@font-face {
	    font-family: 'Slim-Joe'; 
	    src: url('fonts/Slim-Joe.woff');
	    src: url('fonts/Slim-Joe.woff?#iefix') format('embedded-opentype'),
	         url('fonts/Slim-Joe.ttf') format('truetype'),
	         url('fonts/Slim-Joe.svg#opficioregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
	@font-face {
	    font-family: 'FontAwesome'; 
	    src: url('fonts/fontawesome-webfont.woff');
	    src: url('fonts/fontawesome-webfont.woff?#iefix') format('embedded-opentype'),
	         url('fonts/fontawesome-webfont.ttf') format('truetype'),
	         url('fonts/fontawesome-webfont.svg#opficioregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

//font packs

	$bigjhon: BIG-JOHN, Roboto;
	$Montserrat: 'montserratregular', Roboto;
	$Slim: Slim-Joe, Roboto, arial;
	$icons: FontAwesome, arial;
	$fontStack: Roboto, sans-serif;

//elementos

	@mixin transition($color) {
		 transition: color 500ms ease, text-shadow 500ms ease;

			&:hover {
			  text-shadow: 0 0 10px $color;
			}

	}


	@mixin titulos{
		font-family: $bigjhon !important;
		font-size: 44.16px;
		padding: 20px !important;
		border: dashed 3px !important;
		text-transform: uppercase !important;
		margin: 20px auto !important;
		display: inline-block;
		@include transition(white);
	 }

	@mixin white-box() {
	 	padding: 8px;
	 	border: 2px $morado solid;
	 	color: $morado;
	 	font-family: $Montserrat; 
	 }

	@mixin purple-box() {
	 	padding: 8px;
	 	font-family: $Montserrat;
	 	background: $morado;
	 	border: 0px;
	 	color: white;
	 }
	 @mixin oranje-box() {
	 	padding: 8px;
	 	font-family: $Montserrat;
	 	background: $naranja;
	 	border: 0px;
	 	color: white;
	 }

    @mixin purple-button() {
	 	padding: 8px;
	 	font-family: $Montserrat;
	 	background: $morado;
	 	border: 0px;
	 	color: white;
	 	&:hover{
	 		background: $naranja2;
	 		color: white;
	 	}
	 }

	@mixin hexagon() {

		position: relative;
		  margin: 100px auto;
		  width: 310px;
		  height: 180px;
		  background: white;
		  border-left: 2px dashed $naranja;
		  border-right: 2px dashed $naranja;
		  z-index: 1;
		  /* Text styling */
		  line-height: 110px;
		  text-align: center;
		  font-family: sans-serif;
		  font-size: 15px;
		  font-weight: bold;
		  letter-spacing: 6px;
		  color: #fff;
		  color: rgba(255,255,255,.5);
		  cursor: pointer;
		  transition: color 500ms ease, text-shadow 500ms ease;

			&:hover {
			  text-shadow: 0 0 10px white;
			}

			.face1,
			.face2 {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  overflow: hidden;
			  background: inherit;
			  z-index: -1;
			  border-left: 2px dashed $naranja;
			  border-right: 2px dashed $naranja;
			  /* Keeps borders smooth in webkit */
			  backface-visibility: hidden;
			}
			.face1:before,
			.face2:before {
			  content: '';
			  position: absolute;
			  width: 220px;
			  height: 220px;
			  background: inherit;
			}

			.face1 { transform: rotate(60deg); }
			.face1:before {
			  left: 0;
			  transform-origin: left top;
			  transform: rotate(-60deg) translate(-110px, 0);
			}

			.face2 { transform: rotate(-60deg); }
			.face2:before {
			  right: 0;
			  transform-origin: right top;
			  transform: rotate(60deg) translate(110px, 0);
			}
			
	}
		
	@mixin hexagon2() {

		  position: relative;
		  margin: 100px auto;
		  width: 310px;
		  height: 180px;
		  background: url('images/hexa-bg1.png') $morado no-repeat;
		  background-position: center center;
		  z-index: 1;
		  /* Text styling */
		  line-height: 110px;
		  text-align: center;
		  font-family: sans-serif;
		  font-size: 15px;
		  font-weight: bold;
		  letter-spacing: 6px;
		  color: #fff;
		  color: rgba(255,255,255,.5);
		  cursor: pointer;
		  transition: color 500ms ease, text-shadow 500ms ease;

			&:hover {
			  color: #fff;
			  text-shadow: 0 0 10px white;
			}

			.face1,
			.face2 {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  overflow: hidden;
			  background: inherit;
			  z-index: -1;
			  /* Keeps borders smooth in webkit */
			  backface-visibility: hidden;
			}
			.face1:before,
			.face2:before {
			  content: '';
			  position: absolute;
			  width: 305px;
			  height: 388px;
			  background: inherit;
			}

			.face1 { transform: rotate(60deg); }
			.face1:before {
			  left: 0;
			  transform-origin: left top;
			  transform: rotate(-60deg) translate(-152px, 0);
			}

			.face2 { transform: rotate(-60deg); }
			.face2:before {
			  right: 0;
			  transform-origin: right top;
			  transform: rotate(60deg) translate(153px, 0);
			}
	}	

	
//defaults
body{font-family: $Montserrat;}



.login{
		display: none; 
		position:fixed;
		z-index: 50;
		background: $morado-t;
		width: 100%;
		height: 100%;
		.log-box{
			width: 50%;
			position: absolute;
			top: 80px;
			left: 0px;
			right: 0px;
			margin: 0 auto;
			z-index: 60;
			padding: 10px;
			background: url(images/bg_03.png) white;
			background-size: cover;
			#wppb-login-wrap{
				width: 45%;
				display: inline-block;
				vertical-align: top;
				@include oranje-box;
				.login-submit{
					.button-primary{
						display: inline-block;
						vertical-align: top;
						@include purple-box;
						&:hover{
							@include white-box;
							background: white;
							cursor: pointer;
						}
					}
				}
				input{
					padding: 4px;
					transition: background 0.4s ease; 
					&:focus{
						background: $gris2;
						color: $morado;
					}
				}
			}
			p{
				padding: 8px; 
				margin: 0 0 10px 0;
			}
			.reg-button{
				width: 40%;
				display: inline-block;
				vertical-align: top;
				
			}

			.logut-but{
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px;
				span{
					font-family: $icons;
					font-weight: bold;
				}
				&:hover{
					color: black; 
				}
			}

		}
}

header{
	width: 100%;
	height: 80px;
	padding: 10px 0px;
	@include gradientWhite;

	nav{
		width:1100px;
		margin: 0 auto;
		padding: 0 20px;
		height: 100%;
		overflow: auto;
		.burger{ 
			display: none;
			color: $morado2; 
			font-size: 30px;
			font-weight: bold;
			font-family: $icons;


		 }

		 .swipe-area{
		 	display: none;
		 }
		figure{
			margin: 0 50px 0 0;
			display: inline-block;
			vertical-align: middle;
		}
		.nav-holder{
			width: 720px;
			display: inline-block;
			vertical-align: middle;
			.menu{
				.current-menu-item{
					@include white-box;
					margin: -10px 0 0 0;
					a{
						color: $morado;
					}
				}
				li{
					display: inline-block;
					vertical-align: middle; 
					margin: 0 10px;
					a{
						color: $naranja2;
						font: 18px $naranja;
						font-family: $bigjhon;
						text-decoration: none;
						&:hover{
							color: $morado;
						}
					}
				}
			
			}
		
		}
		.social{
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 0px;
			li {
				display: inline-block;
				vertical-align: middle; 
				list-style: none;
				a{
					float: left;
					margin: 0 5px;
					font-family: $icons;
					font-size: 30px;
					color: $naranja;
					&:hover{
						color: $morado;
					}
				}
			}
		}

		.nav-holder{
			.social, figure{
				display: none;

			}
		}
	}

	

}


//sliding menu

	




footer{
	width: 100%;
	background: $morado;
	#f-wrap{
		width: 90%;
		padding: 10px 0;
		margin: 0 auto;
		position: relative;
		font-family: $Montserrat;
		font-weight: normal; 
		font-size: 16px;
		text-align: center;
		.f-block{ 
			width: 20%;
			vertical-align: top;
			color: white;
			display: inline-block;
			list-style: none;
			margin: 0 9px;
			text-align: left; 
			a{
				color: white;
				&:hover{
					color: $naranja;

				}
			}
			h3{
				color: $naranja;
				font-size: 18px;
				text-align: left;
			}

		}
		.social{
			font-family: $icons;
			font-size: 40px;
			text-align: left;
			li{
				display: inline-block;
				padding: 8px 4px;
			}
		}

	}
	.pie{
		width: 100%;
		position: relative;
		background: $gris2;
		text-align: center;
		padding: 6px 0;
		img{
			display: inline-block;
			width: 20px;
		}
		p{
			display: inline-block;
			color: $gris;
			font-family: $fontStack;
		}
	} 
}


//inicio


.slider{
}


//index

#content{
	
	.content-area{
		// background: url(images/vectors_01.png) no-repeat;
		background-size: cover;
		padding: 8px;
		.block2{
			position: relative;
			margin: 15px 0px !important;

			article{
				@include white-box;
				display: inline-block;
				width: 500px;
				vertical-align: top;
				font-family: $Montserrat;
				margin: 10px 15px;
				&:nth-child(1){
					margin: 0 0 0 10%;
				}
				.h-ico{
					display: inline-block;
					vertical-align: top;
					cursor: pointer;
					&:hover{
						@include vendor-prefix(filter, hue-rotate(200deg)) ;
					}
				}
				ul, p{
					list-style: none;
					width: 48%;
					margin: 0 0 0 25px;
					display: inline-block;
					vertical-align: top;
					span{font-family: $icons;}
					li{
						&:before{
						font-family: $icons;
						content: '\f00c';
						display: inline-block;
						  margin-left: -1.3em;
						  width: 1.3em;
					}
					}
					strong{
						font-size: 18px;
						text-transform: uppercase;
						color: $naranja;
					}
					.b-mas{
						@include purple-box;
						display: block;
						text-align: center;
						margin: 10px 0;
					}
				}
			}
			.tiendas{
				background: $gris2-t; 
				width: 100%;
				margin: 20px auto !important;
				padding: 0px;
				border: none;
					article.tiendas{
						background: none;
						.shop-slide{
							background: none;
							width: 960px;
							margin: 0 auto;
							img{
								display: inline-block;
								vertical-align: center;
								margin: 10px 20px;
								&:hover{ 
									@include vendor-prefix(filter,grayscale(1));
								}
							}
						}
					}
				p{
					color: $naranja; 
					text-align: left;
					display: block;
					font-size: 20px;
					font-weight: bold;
					margin: 8px 0;
				}
				
			}
			
		}
	}
	
}

 

//nosotros

.nosotros{
	.cover{ 
		width: inherit;
		height: 600px;
		text-align: center;
		padding: 20px 0;
		background: url(images/cover-bg_01.png) no-repeat; 
		h1{
			@include titulos;
			color: white;
		}
		p{
			width: 800px;
			margin:  auto;
			color: white; 
		}
		span{
			h3{
				font-family: $icons;
				color: white;
				font-size: 30px; 
				margin: 30px 0;
			}
		}
	}

	#block2{
		// height: 400px;
		padding: 20px 0;
		background: url(images/bg_03.png);
		background-size: cover;
		text-align: center;
		.hexa-hold{
			display: inline-block;
			vertical-align: middle;
			margin: 20px 10px;
			position: relative;
			width: 310px;
			height: 350px; 
			&:hover{
				.hexa2{
					opacity: 0; 


				}
			}
			.hexa1{
				@include hexagon;
				color: $morado; 
				top: 0px;
				position: absolute;
				section{
					line-height: 17px;
					padding: 10px;
					font-size: 16px;
					letter-spacing: initial; 

				}
			}
			.hexa2{
				@include hexagon2;
				z-index: 3;
				top: 0px;
				position: absolute;
				color: white;
				transition: all 0.5s ease;
				opacity: 1;
				h2{
					text-transform: uppercase;
					font-family: $Montserrat;
					padding: 20px 0 0 0;
				}

			}
		}
	}
}




//3-blocks
 
#single-page{
	position: relative;

	.cover{
		background: url(images/bg_03.png);
		padding: 20px 0;
		text-align: center;
		h1{
			@include titulos;
			color: $morado;
			display: inline-block;
			margin: 0 auto;
			@include transition($morado);
		}
		section{
			color: $morado;
			font-size: 20px;
			margin: 0 auto;
			width: 700px;
		}  
	}
	.oranje-block{
		background: $naranja;
		padding: 20px 0;
		.oranje-item{
			padding: 0 12px; 
			margin: 20px 0;
			h1, span{
				display: inline-block;
				vertical-align: middle;
				@include transition(white);
				color: $morado;
			}
			section{
				color: white;
				font-family: $Montserrat;
				font-size: 16px;
			}
			&:nth-child(1){
				content:'';
				height: 150px;
				border-right: 2px dashed white;
			}&:nth-child(2){
				content:'';
				height: 150px;
				border-right: 2px dashed white;
			}&:nth-child(4){
				content:'';
				height: 150px;
				border-right: 2px dashed white;
			}&:nth-child(5){
				content:'';
				height: 150px;
				border-right: 2px dashed white;
			}

		}
		
	}
	.block3{
		padding: 40px 0;
			width: 960px;
			position: relative;
			margin: 0 auto;
			.mood-b1{
				@include purple-box;
				display: inline-block;
				vertical-align: middle;
				.pr-item{
					display: inline-block;
					vertical-align: middle;
				}

				section{
					width: 300px;
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
					padding: 6px;
					h3{color: $naranja;}
					
				}
			}
			.mood-b2{
				@include white-box;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 80;
				.pr-item{
					display: inline-block;
					vertical-align: middle;
				}

				section{
					width: 262px;
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
					
				}
			}
		
	}
}



//single page 

#single-page{
	background:url(images/ba_03.png);
	background-size: cover;
	.cover{
		background: url(images/bg_03.png);
		padding: 20px 0;
		text-align: center;
		h1{
			@include titulos;
			color: $morado;
			display: inline-block;
			margin: 0 auto;
			@include transition($morado);
		}
		section{
			color: $morado;
			font-size: 20px;
			margin: 0 auto;
			width: 700px;
		}  
	}

	#content{
		width: 960px;
		padding: 20px 8px;
		margin: 0 auto;
		position: relative;
	}
}



//formulario de presupuesto

#wpcf7-f81-p79-o1{
	width: 780px;
	overflow: auto;
	position: relative;
	margin: 20px auto;
	@include white-box; 
	input, textarea{
		@include white-box;
		margin: 10px 30px;
		width: 40%;
		float: left;
		transition: background 0.4s ease;
		&:focus{
			background: $gris2;
			color: $morado2;
		}
	}

	.wpcf7-submit{
		@include purple-box;
		float: left;
		transition: background 1s ease;
		cursor: pointer;
		&:hover{
			background: $naranja2;
			color: white;
		}
	}

	.wpcf7-response-output{
		float: left;
	}
}


//contacto

.contacto{
	padding: 0 0 0 80px;
	#wpcf7-f16-p129-o3, #wpcf7-f16-p129-o2{
		@include oranje-box;
		width: 500px;
		margin: 0 auto;
		padding: 10px;
		overflow: auto;
		p{
			width: 50%;
			float: left;
			input{
				width: 80%;
				padding: 6px;
				transition: background 0.4s ease;
				&:focus{
					background: $gris2;
					color: white;
				} 
			}

			textarea{
				padding: 6px;
				margin: 10px 0;
				float: left;
				width: 100%;
				transition: background 0.4s ease;
				&:focus{
					background: $gris2;
					color: white;
				} 
			}
		} 

		p{
			.wpcf7-submit{
				@include purple-box;
				cursor: pointer;
				margin: 160px 0 0 40px;
				
			}
		}
	}

	.wpb_gmaps_widget{
		width: 500px; 
		margin: 0 auto;
		padding: 0 80px 0 0; 
	}
}

@import 'woostyle';

@import 'mobile';